<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Unidad 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <h1>INTERFACES DINÁMICAS VS ESTÁTICAS</h1>
    </ion-row>
    <ion-row>
      <h3>¿Qué es una interfaz estática?</h3>
    </ion-row>
    <ion-item>

      <ion-row>
        <p>Una interfaz estática es aquella que en el ámbito del código fuente del sitio web se encuentra fijo, su
          contenido nunca será modificado de ninguna manera</p>
        <p>Una página web estática está compuesta por archivos HTML individuales por cada página que son pre-generados y
          presentados al usuario a través del navegador de la misma forma.</p>
        <p>Si quisieras crear una página web estática solo necesitas un editor de texto como Visual Studio Code y
          conocimientos en <a href="https://learndigital.withgoogle.com/activate/course/web-development-I">HTML y CSS.</a></p>
        <ion-img src="https://www.imaginanet.com/thumb.php?n=blog%2F10herramientas.jpg&w=640&h=250&x=0&y=0"
                 alt="HTML + CSS"></ion-img>
        <img src="assets/images/snap_stc.png" alt="">
      </ion-row>

    </ion-item>
    <hr>
    <ion-row>
      <h5>¿Qué es una interfaz dinámica?</h5>
    </ion-row>
    <ion-item>

      <ion-row>
        <p>La palabra dinámica se refiere a elementos que cambian continuamente, son interactivos y funcionales,
          en lugar de ser simplemente informativos. Por supuesto, eso requiere utilizar más que solo código HTML y CSS.</p>
        <p>En comparación con las páginas web estáticas, que son mayoritariamente informativas,
          una página web dinámica incluye aspectos que se caracterizan por la interactividad y la funcionalidad,
          por ejemplo, los usuarios pueden interactuar con la información que se presenta en la página gracias a
          las instrucciones creadas a través de los lenguajes de programación y la base de datos sobre la que está construida.</p>
        <p>Los sitios web dinámicos basan su comportamiento y funcionalidad en dos tipos de programación,
          front-end (del lado del cliente) y back-end (del lado del servidor).
          Las instrucciones del lado del cliente es código JavaScript que se ejecuta en el navegador.
          Mientras que las instrucciones que se ejecutan del lado del servidor son instrucciones escritas en lenguajes de scripting o programación,
          como ASP.Net, PHP, Python, etc. y que son ejecutadas para crear lo que el usuario ha solicitado en su interacción con la página.</p>
        <p>Una vez ejecutadas las instrucciones en el servidor, un nuevo HTTP response se envía al navegador del usuario
          para mostrarle lo que ha solicitado. El resultado final es el mismo que en un sitio web estático:
          una página HTML que el usuario ve desde el navegador.</p>

        <img src="assets/images/snap_din.png" alt="">

      </ion-row>

    </ion-item>


  </ion-grid>

</ion-content>
