ion-item{
  --background: #2B3245 !important;
    --color: #fff !important;
    --border-color: #2B3245 !important;
    --border-style: solid !important;
    --border-width: 0px !important;
    --box-shadow: none !important;
    --padding: 0px !important;
    --margin: 0px !important;
    --height: 0px !important;
}

ion-card-title{
  text-align: center;
}
ion-text{
  font-size: 0.8rem;
}
ion-list{
  background-color: #394158;
}
ion-item{
  margin-bottom: 3%;
}
ion-card{
  --background: #394158 !important;
}
