<ion-item>
  <ion-avatar slot="start">
    <img alt="Profesora"
         src="https://pbs.twimg.com/profile_images/714775160390336512/ICjAvtGC_400x400.jpg"/>
  </ion-avatar>
  <ion-text>Carmelo ha subido contenido para ti</ion-text>
</ion-item>

<ion-item>
  <ion-avatar slot="start">
    <img alt="Profesora"
         src="https://lh3.googleusercontent.com/a-/ACNPEu-IDpbKtg8ciR1ZqKBcHdtCt8IgnvmmZBTWNw5MVA=s40-c"/>
  </ion-avatar>
  <ion-text>Amelia ha subido contenido para ti</ion-text>
</ion-item>

<ion-item>
  <ion-avatar slot="start">
    <img alt="Profesora"
         src="https://lh3.googleusercontent.com/a-/AD5-WCnz4Wbab-XuPYGUSqVRrFwoJD7YvfhWfspsWhSU=s40-p"/>
  </ion-avatar>
  <ion-text>Alejandra ha subido una nueva tarea para ti</ion-text>
</ion-item>
