<ion-card>
  <ion-card-header>
    <ion-card-title>Tablón de Anuncios</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img alt="Profesora"
               src="../../../assets/images/Carmelo.jpg"/>
        </ion-avatar>
        <ion-text>Carmelo ha subido contenido para ti</ion-text>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img alt="Profesora"
               src="../../../assets/images/Amelia.jpg"/>
        </ion-avatar>
        <ion-text>Amelia ha subido contenido para ti</ion-text>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img alt="Profesora"
               src="../../../assets/images/Alejandra.jpg"/>
        </ion-avatar>
        <ion-text>Alejandra ha subido una nueva tarea para ti</ion-text>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>
