<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Definición de componentes, propiedades, atributos de componentes y eventos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Título -->
<h1>PÁGINA 2: DEFINICIONES.</h1>

<!-- Grid-->
<ion-grid>
  <ion-row>

    <!-- Card componentes-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Componentes</ion-card-title>
        <ion-card-subtitle>¿Qué es un componente?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La mejor forma de definir un componente es referirnos a una función, ya que se trata de código que podemos reutilizar aplicándolo a distintos contextos.
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>

    <!-- Card propiedades y atributos-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Propiedades y atributos de un componente</ion-card-title>
        <ion-card-subtitle>¿Para qué sirven?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Las propiedades o atributos son los fragmentos de código necesarios para formar un componente, es decir,
       podriamos tener un componente el cual nos muestre un mensaje de texto utilizando una propiedad la cual sea un String y podriamos tener otra propiedad la cual sea una variable
       tipo Integer para mostrar un número.
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>

    <!-- Card Eventos-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Eventos</ion-card-title>
        <ion-card-subtitle>¿Cuando suceden?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Para comprender lo que es un evento, debemos pensar en la acción que se ejecuta cuando cambiamos de un tab a otro, ya
      que un evento es el funcionamiento en segundo plano de esa acción.
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-grid>

</ion-content>
