.fondo {

  --ion-background-color: #2B3245 !important;
  --ion-text-color: #fff !important;
  --ion-toolbar-background: #2B3245 !important;
  --ion-toolbar-color: #fff !important;
  --ion-toolbar-border-style: solid !important;
  --ion-toolbar-border-width: 0px !important;
  --ion-toolbar-box-shadow: none !important;
  --ion-toolbar-padding: 0px !important;
  --ion-toolbar-margin: 0px !important;
  --ion-toolbar-height: 0px !important;
  --ion-toolbar-border-color: #2B3245;

}

