<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contenidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-button [routerLink]="['/page1']">Page 1</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/page2']">Page 2</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/page3']">Page 3</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/page4']">Page 4</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/page5']">Page 5</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
