<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Unidad 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Título -->
<h1>Unidad 1: TIPOS DE APLICACIONES.</h1>

<!-- Grid-->
<ion-grid>
  <ion-row>

    <h1>Definiciones:</h1>
  </ion-row>
    <!-- Card nativa-->
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Aplicación nativa</ion-card-title>
        <ion-card-subtitle>¿Qué es una aplicación nativa?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Una app nativa es aquella la cual ha sido desarrollada en un lenguaje concreto para funcionar en un S.O específico.
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>

    <!-- Card híbrida-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Aplicación híbrida</ion-card-title>
        <ion-card-subtitle>¿Qué es una aplicación híbrida?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Una app híbrida es aquella la cual está desarrollada en un lenguaje de programación el cual da la posibilidad de hacer funcionar la aplicacion en varios S.O.
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>

    <h1>Diferencias:</h1>
  </ion-row>
    <!-- Card diferencias-->
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Diferencias aplicaciones nativas e híbridas</ion-card-title>
        <ion-card-subtitle>Diferencias mas destacables</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>1. Las apps híbridas se adaptan a varias plataformas, mientras que la nativa solo a una.</p>
        <p>2. Aunque actualmente esta diferencia es muy pequeña, el rendimiento de las aplicaciones nativas es mejor.</p>
        <p>3. Mientras que las aplicaciones nativas pueden acceder a todos los componentes del sistema, las híbridas están más limitadas.</p>
        <p>4. Las aplicaciones híbridas son mas baratas de desarrollar.</p>
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-grid>
</ion-content>
