<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      Inicio
    </ion-title>
    <ion-avatar slot="end">
      <div>
        <img alt="Juan Sebastian Avatar" src="https://freesvg.org/img/1547510251.png" width="48" height="48"/>
      </div>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondoPg1">
  <h1 style="text-align: center">¡Bienvenido Juan Diaz a InfoAcademy !</h1>

  <h3 style="text-align: center">Antes de comenzar...</h3>
  <div style="margin: -50px 0 -50px 0">
    <img src="../../assets/images/reproductor_video.png" alt="Video Inicio Academia"/>
  </div>
  <div>
    <app-publicacion></app-publicacion>
  </div>
</ion-content>

