<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-avatar slot="end">
      <img alt="Juan Sebastian Avatar" src="https://freesvg.org/img/1547510251.png"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>¡Bienvenido Juan Diaz a InfoAcademy !</h1>
  <ion-img src="https://cdn.pixabay.com/photo/2015/09/15/17/18/vector-video-player-941434_960_720.png"
           alt="Video Inicio Academia">
  </ion-img>
  <app-publicacion></app-publicacion>
</ion-content>

