<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">Herramientas de edidición de interfaces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-grid>
    <ion-row>
      <h1 style="text-align: center">Herramientas de edición de interfaces</h1>
      <p style="text-align: center">Todo diseñador Front-end debe contar con algunos recursos imprescindibles para realizar su trabajo. El primer paso
    , si te quieres dedicar al diseño de interfaz de usuario, es escoger el software para el diseño de interfaces que
    utilizarás y realizar una propuesta gráfica o prototipo de interfaz de usuario para que el cliente pueda imaginar
    cómo se verá el proyecto terminado.</p>
    </ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Balsamiq</ion-card-title>
      </ion-card-header>
      <div class="img">
          <img
    src="https://crehana-blog.imgix.net/media/filer_public/ec/be/ecbed9c2-241c-43f0-b114-7addd284abba/balsamiq-ejemplo-diseno-interfaces.jpg"
    alt="img">
      </div>
      <div class="content">
          <ion-card-content>
            Es un programa de escritorio por lo que solo tienes que registrarte para comenzar a crear tu primer prototipo de
    interfaz. Se centra, principalmente, en el wireframing y se caracteriza por una estética que simula estar dibujada a
    mano alzada.
    Cuando hayas terminado tu diseño, puedes exportarlo en formato PNG o PDF.
    Otra de las ventajas de este software para diseño de interfaces es que es una herramienta multiplataforma, por lo
    podrás trabajar desde cualquier computadora e invitar a tu equipo a colaborar. Además, su versión gratuita permite
    trabajar desde la nube.
          </ion-card-content>
      </div>
        </ion-card>
  </ion-grid>
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mocking Grid</ion-card-title>
      </ion-card-header>
      <img
    src="https://crehana-blog.imgix.net/media/filer_public/70/48/70483e16-fa32-4e16-8751-69709d99c1af/mockingbird-diseno-interfaz-usuario.jpg"
    alt="img">

      <ion-card-content>
        Este es un software para diseño de interfaces que no requiere instalación local y es ideal para que usuarios con
    menos experiencia puedan crear mockups, ya que ofrece una selección de 90 módulos y componentes diferentes.
    La ventaja que más se destaca en esta herramienta de prototipado es la posibilidad de enlazar y compartir las
    maquetas y páginas. Los diseños interactivos te servirán para revisar el flujo de trabajo, testear la usabilidad
    desde el punto de vista de un usuario y compartir con tu cliente para que dé su opinión.
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Figma</ion-card-title>
      </ion-card-header>
      <img
    src="https://crehana-blog.imgix.net/media/filer_public/88/74/8874bb48-5bc3-4426-be63-a2fa67fcd622/figma-ejemplo-diseno-interfaces.jpg"
    alt="img">
      <ion-card-content>
        Funciona en línea, por lo que permite la colaboración en vivo de todos los miembros del equipo. Incluye
    herramientas vectoriales para ilustrar, crear prototipos y la generación de código para el traspaso (hand-off).
    La ventaja de aprender a utilizar Figma es que tienes todas las herramientas para crear un prototipo de interfaz de
    usuario alineados con las necesidades de tus usuarios en una sola aplicación.
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Adobe XD</ion-card-title>
      </ion-card-header>
      <img
    src="https://crehana-blog.imgix.net/media/filer_public/54/02/540224d2-79d8-480e-916d-17a1893406a4/adobe-software-diseno-interfaces.jpg"
    alt="img">

      <ion-card-content>
        Adobe XD es un software usado para crear y compartir interfaces, tanto para páginas web como para aplicaciones,
    aunque originalmente este software de diseño de interfaces fue lanzado al mercado con el nombre de Project Comet en
    2015. Hasta ese momento no existía en Adobe ningún software específico para diseñar la experiencia de usuario.
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>
