ion-content {
  --background: #2B3245;
}

ion-toolbar{
  --background: #2B3245;
}

ion-card {
 --background: #394158;
}

ion-title{
  text-align: center;
}

ion-card-title {
  color: white;
  text-align: center;
}


.img {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}


ion-row{
  text-align: center;
  display: flex;align-items: center;justify-content: center;
}


ion-title{
  text-align: center;
}

