  <ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">Unidad 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>

    <ion-row>

      <ion-item slot="center">
        <h1>Mejores librerías para los diferentes frameworks</h1>
      </ion-item>

    </ion-row>
<!--Angular -->
    <ion-row>

      <ion-item>
        <h2>Angular</h2>
      </ion-item>

      <ion-item>
        <img src="../../../assets/images/angular.png" alt="">
      </ion-item>

    </ion-row>

    <ion-row>

      <ion-col><h3>PrimeNG</h3></ion-col>


    </ion-row>

    <ion-row>

      <ion-col><img src="../../../assets/images/primeNg.png" alt=""></ion-col>


    </ion-row>

    <ion-row>

      <ion-col><p>
        Colección de muchos componentes preparados también para móvil. Tiene ciertos temas que puedes escoger para personalizar la apariencia de todos los componentes.
        Tiene desde componentes de visualización de datos (tablas, gráficas, estadísticas, etc) a muchos tipos de paneles, botones, menús, incluso tiene un componente drag and drop por lo que no tendrás que buscar otra librería para esta funcionalidad.
      </p></ion-col>


    </ion-row>

    <ion-row>

      <ion-col><ion-buttons><ion-button><a href="https://www.primefaces.org/primeng/#/">Pagina Oficial</a></ion-button></ion-buttons></ion-col>


    </ion-row>
    <ion-row>

      <ion-col><h3>NG Bootstrap</h3></ion-col>


    </ion-row>

    <ion-row>

      <ion-col><img src="../../../assets/images/NGBootstrap.png" alt=""></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><p>
        Si quieres usar Bootstrap junto con Angular, puedes usar directamente Bootstrap como lo harías en cualquier página normal. El problema de ésto es que las partes de Bootstrap que usan JS no te funcionarán porque usan Jquery, y no está adaptado para usarse con Angular. Si necesitas usar los componentes JS de Bootstrap lo mejor que puedes hacer es utilizar esta librería.
        La librería contiene muchos de los componentes de Bootstrap adaptados a Angular, por lo que por ejemplo, podrás usar el dropdown de Bootstrap sin tener que hacer cosas raras.
      </p></ion-col>


    </ion-row>

    <ion-row>

      <ion-col><ion-buttons><ion-button><a href="https://ng-bootstrap.github.io/#/home">Pagina Oficial</a></ion-button></ion-buttons></ion-col>

    </ion-row>


    <!--React -->
    <ion-row>

      <ion-item>
        <h2>React</h2>
      </ion-item>

      <ion-item>
        <img src="../../../assets/images/react.png" alt="">
      </ion-item>

    </ion-row>

    <ion-row>

      <ion-col><h3>Material UI</h3></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><img src="../../../assets/images/materialui.png" alt=""></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><p>
        Material Design es el estándar de diseño que utiliza Google en sus aplicaciones web y móviles y, para su framework Angular, lanzaron en su momento Angular Material. Material UI no es otra cosa que la librería de interfaces de usuario que busca aplicar Material Design sobre React. Por tanto, podríamos decir que es el equivalente para React de Angular Material y tiene sus mismos pros y sus mismos contras.
        Su principal pro es que es una librería que permite aumentar la velocidad del desarrollo y que facilita enormemente la creación de las interfaces de usuario, gracias al uso de componentes ya prefabricados en la librería. Su principal contra es que normalmente los clientes quieren un estilo único para sus interfaces, de modo que muy probablemente te tocará modificar los estilos de los componentes que Material UI ya nos ofrece.
      </p></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><ion-buttons><ion-button><a href="https://mui.com">Pagina Oficial</a></ion-button></ion-buttons></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><h3>Redux</h3></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><img src="../../../assets/images/redux.jpg" alt=""></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><p>
        Esta librería de React está creada por dos desarrolladores —actualmente en el equipo de desarrollo de React— muy populares en el mundo de JavaScript: Andrew Clark y Dan Abramov, creador de Just JavaScript, uno de los tutoriales más famosos a nivel mundial de este popular lenguaje de programación.
        Si a algo creado por estos dos auténticos genios del código ya se le presupone una excelente calidad, el uso de esta librería lo confirma. Redux es una librería que ayuda a gestionar el estado del frontend de la aplicación web, haciendo predecibles los cambios de estado. De forma que sea fácil comprender la evolución del estado de la aplicación, el realizar tareas de debugging, nos permite reiniciar la aplicación desde un estado concreto…
      </p></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><ion-buttons><ion-button><a href="https://es.redux.js.org">Pagina Oficial</a></ion-button></ion-buttons></ion-col>

    </ion-row>

    <!--Vue -->
    <ion-row>

      <ion-item>
        <h2>Vue</h2>
      </ion-item>

      <ion-item>
        <img src="../../../assets/images/vue.png" alt="">
      </ion-item>

    </ion-row>

    <ion-row>

      <ion-col><h3>Vuesax</h3></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><img src="../../../assets/images/vuesax.png" alt=""></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><p>
        Un framework que incluye componentes diseñados de manera hermosa, perfectos para incluir de inmediato en el proyecto. El foco de Vuesax es el permitirte una experiencia donde puedas crear y diseñar los componentes basados en los requerimientos de tú proyecto, sin perder nada de velocidad durante el proceso creativo. Quizás su mayor atractivo sea el que soporta muchas herramientas disponibles para frontend, como Saas, Typescript y VuePress.
      </p></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><ion-buttons><ion-button><a href="https://vuesax.com">Pagina Oficial</a></ion-button></ion-buttons></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><h3>Vue Material</h3></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><img src="../../../assets/images/vueMaterial.png" alt=""></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><p>
        Un framework ligero y extremadamente popular, Vue Material implementa las especificaciones de Material Design, el lenguaje desarrollado por Google. Te permite construir aplicaciones con menos decisiones de diseño y sin la desventaja de tener que anular los estilos predeterminados de la librería. Es flexible, ligera y de fácil instalación, lo que hace este componente muy atractivo para todo desarrollador Vue.
      </p></ion-col>

    </ion-row>

    <ion-row>

      <ion-col><ion-buttons><ion-button><a href="https://www.creative-tim.com/vuematerial/">Pagina Oficial</a></ion-button></ion-buttons></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
